.hero-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;        
  justify-content: center;    
  gap: 6rem;
  padding: 0 5%;
  text-align: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */
.hero-left h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #f1f5f9;
}

.hero-left p {
  font-size: 1.25rem;
  color: #cbd5e1;
  margin-bottom: 2rem;
  line-height: 1.6;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.btn {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.btn::before {
  margin-left: auto;
}

.btn::after, .btn::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #ffffff;
  display: block;
  transition: 0.5s;
}

.btn:hover::after, .btn:hover::before {
  width: 100%;
}


