.card {
  position: fixed;       
  top: 50%;              
  left: 0;               
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding: 5px;          
  border-radius: 0 15px 15px 0; 
  background-color: #0d0d0d; 
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  z-index: 900;
}

.card a {
  width: 40px;          
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  background: transparent;
}

.card a:hover {
  transform: scale(1.1);
  background: var(--hover-color);
}

.socialImg {
  width: 20px;           
  height: 20px;
  object-fit: contain;
  pointer-events: none;
}
